PORT=5000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173

# Azure values will be added later
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=media

COSMOS_ENDPOINT=
COSMOS_KEY=
COSMOS_DATABASE_ID=hymedia_db
COSMOS_CONTAINER_ID=assets

APPLICATIONINSIGHTS_CONNECTION_STRING=